@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: normal 13px "Open Sans";
}

a {
  text-decoration: none;
}

.header {
  padding-top: 0px;
  position: relative;
  width: 100%;

  background-image: url("../images/banner/banner-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000000;
  z-index: 0;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  padding-top: 34px;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding-top: 0px;
  width: 180px;
}

.menu-list {
  list-style-type: none;
  padding-left: 0;

  display: flex;
}

.menu-list-item {
  display: inline-block;
  margin-right: 35px;
}

.menu-list-item:hover {
  text-decoration: underline;
}

.menu-list-item:last-child {
  margin-right: 0px;
}

.menu-list-item > a {
  color: #ffffff;
  text-transform: uppercase;
}

.title {
  margin-top: 126px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 146px;
  box-sizing: border-box;
  width: 60%;

  text-align: center;
  color: #ffffff;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.trends {
  margin-top: 58px;
}

.block__title {
  display: block;
  text-align: center;
  color: #0f0d0e;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.block__title::after {
  display: block;
  content: "";
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.post__title > a {
  color: #0f0d0e;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.trends__items {
  display: flex;
  margin-top: 27px;
  height: 319px;
}

.trend {
  position: relative;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
}

.trend:not(:last-child) {
  margin-right: 4px;
}

.trend:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend__content {
  outline: 3px solid #b59f5b;

  width: 88%;
  position: absolute;
  bottom: 20px;

  margin-left: 21px;
  margin-right: 21px;

  padding-bottom: 31px;
  padding-top: 38px;
}

.trend__tegs {
  margin-left: 34px;
}

.trend__title {
  margin-top: 10px;
  margin-left: 32px;
}

.trend__title > a {
  color: #ffffff;
}

.page {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 63px;
  padding-left: 15px;
  padding-right: 15px;
}

.posts {
  flex: 1;
}

.main-post {
  display: flex;
  margin-bottom: 58px;
}

.main-post:last-child {
  margin-bottom: 0px;
}

.main-post-picture {
  display: block;
  margin-right: 30px;
  margin-bottom: auto;
  width: 381px;
}

.tegs {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-wrap: wrap;
}

.teg-item {
  margin-right: 18px;
}

.teg-item :hover {
  text-decoration: underline;
}

.teg-item > a {
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.post-title {
  margin-top: 10px;
}

.post-title > a:hover {
  color: #b59f5b;
}

.date-and-author {
  margin-top: 30px;
  margin-bottom: 54px;
}

.date {
  padding-right: 13px;
  color: #888888;
  font-size: 12px;
}

.author {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.description {
  margin-top: 15px;
  color: #0f0d0e;
  font-size: 15px;
}

.date-and-author + .description {
  margin-top: 0px;
}

.aside {
  width: 272px;
  margin-bottom: auto;
  margin-left: 120px;
}

.aside-section:nth-child(1n + 2) {
  margin-top: 60px;
}

.aside-title {
  margin-top: 0px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}

.aside-title-text {
  display: block;
  text-align: center;
  color: #0f0d0e;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.aside-title::after {
  display: block;
  content: "";
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.new-post {
  margin-bottom: 21px;
  display: flex;
}

.new-post-picture {
  display: block;
  width: 72px;
  margin-top: 0;
  margin-bottom: auto;
  margin-right: 18px;
}

.new-post-title {
  margin-top: 10px;
}

.new-post-title > a {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.search {
  display: flex;
  width: 100%;
}

.search-lable {
  flex: 1;
}

.search-input {
  width: 100%;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  vertical-align: middle;
  background-color: #f4f7f6;
  border: none;
}

.search-input::placeholder {
  color: #000000;
  opacity: 0.54;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  height: 48px;
  width: 48px;

  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-color: #b59f5a;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  right: 0;

  border: none;
}

.label-designation {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.email {
  position: relative;
  width: 100%;
}

.email-input {
  width: 100%;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  vertical-align: middle;
  background-color: #f4f7f6;
  border: none;
}

.email-input::placeholder {
  color: #000000;
  opacity: 0.54;
}

.email-input:focus {
  outline: 1px solid #b59f5b;
}

.email-button {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
  border: none;
  margin-top: 17px;
  width: 100%;
  height: 48px;
}

.email-button:hover {
  background-color: #323232;
}

.aside-tegs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.aside-teg-item {
  display: block;

  margin-right: 8px;
  border: 3px solid #eeeeee;
  padding: 7px 11px;
  margin-bottom: 6px;
}

.aside-teg-item > a {
  color: #0f0d0e;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.aside-teg-item:hover {
  border: 3px solid #b59f5b;
}

.aside-section.after-tags {
  margin-top: 54px;
}

.aside-themes {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.themes-item {
  display: block;
  width: 100%;
  margin-left: 2px;
  border-bottom: 1px solid #eeeeee;
  padding-top: 18px;
  padding-bottom: 14px;
}

.themes-item:first-child {
  padding-top: 0px;
}

.themes-item > a:hover {
  color: #b59f5b;
}

.themes-item > a {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.themes-count {
  color: #b59f5b;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 4px;
  vertical-align: super;
}

.shop {
  margin-top: 58px;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.product_offer {
  display: flex;
  margin-top: 27px;
  justify-content: space-around;
}

.offer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  flex: 1;
}

.offer__title {
  margin-top: 25px;
}


.offer__description {
  outline: 3px solid #b59f5b;
  outline-offset: 30px;
  flex-grow: 1;
}

.offer__post__link {
  color: #b59f5b;
}

.offer__post__link:hover{
  text-decoration: underline;
}

.link_to_store {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.old__price {
  color: #0f0d0e;
  font-size: 14px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
}

.new_price {
  color: #0f0d0e;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.go__to__store__button {
  width: 140px;
  height: 48px;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
  border: none;
}

.go__to__store__button:hover {
  background-color: #323232;
}

.footer {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-social {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f4f7f6;
}

.social-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 31px;
}

.social-menu-item:nth-child(1n + 2) {
  margin-left: 30px;
}

.social-menu-name {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.social-menu-href {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.creators-link {
  display: block;
  text-align: center;
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  margin: 73px auto 40px;
}

.twiter {
  background-image: url("../svg/004-twitter.svg");
}

.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.instagram {
  background-image: url("../svg/005-instagram.svg");
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.trend-1 {
  background-image: url("../images/trend/trend1.jpg");
}

.trend-2 {
  background-image: url("../images/trend/trend2.jpg");
}

.trend-3 {
  background-image: url("../images/trend/trend3.jpg");
}

.trend-4 {
  background-image: url("../images/trend/trend4.jpg");
}

.trend-5 {
  background-image: url("../images/trend/trend5.jpg");
}
